Bottom {
  @include shadow(3);
  position: relative;
  display: block;
  & > footer {
    height: 10rem;
    z-index: 1000;
    & .container {
      margin-top: -1.5rem;
    }
    & img#riotLogo {
      width: 5rem;
    }
  }
}
